<div id="orgs" class="container">

    <div id="orgs-list">
        <h3>Latest Builds</h3>
        <a href="/builds/{{build.id}}" ng-repeat="build in builds">
            <div>
                <div ng-switch on="build.status">
                    <i class="glyphicon glyphicon-ok text-success" ng-switch-when="success"></i>
                    <i class="glyphicon glyphicon-remove text-error" ng-switch-when="error"></i>
                    <i class="glyphicon glyphicon-cog" ng-switch-when="running"></i>
                    <strong>{{build.organization}}/{{build.repository}}</strong>
                </div>
                <div><i class="glyphicon glyphicon-flash"></i> Trigger: {{build.event}} to {{build.branch}}</div>
                <div><i class="glyphicon glyphicon-hourglass"></i> Duration: {{build.start | duration: build.end}}</div>
                <div><i class="glyphicon glyphicon-time"></i> Finished: {{build.end | moment: 'fromNow'}}</div>
            </div>
        </a>
    </div>

    <div id="org-repos" ng-repeat="build in builds | filter: {id: buildId} | limitTo: 1">

        <form class="form-horizontal" style="width: 600px;">

            <legend>General information</legend>
            <div class="form-group">
                <label class="col-lg-2 control-label">Repository:</label>
                <div class="col-lg-10">
                   <p class="form-control-static">{{build.organization}}/{{build.repository}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Trigger:</label>
                <div class="col-lg-10">
                   <p class="form-control-static">{{build.event}} to {{build.branch}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Duration:</label>
                <div class="col-lg-10">
                   <p class="form-control-static">{{build.start | duration: build.end}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Finished:</label>
                <div class="col-lg-10">
                   <p class="form-control-static">{{build.end | moment: 'fromNow'}}</p>
                </div>
            </div>

            <legend>Environment variables</legend>
            <p ng-repeat="envVar in build.envVars">{{envVar}}</p>

            <legend>Build jobs</legend>
            <table class="table">
                <tbody>
                    <tr ng-repeat="job in build.tasks">
                        <td ng-switch on="job.status">
                            <i class="glyphicon glyphicon-ok text-success" ng-switch-when="success"></i>
                            <i class="glyphicon glyphicon-remove text-error" ng-switch-when="error"></i>
                            <i class="glyphicon glyphicon-cog" ng-switch-when="running"></i>
                            {{job.name}}
                        </td>
                        <td><i class="glyphicon glyphicon-hourglass"></i> {{job.start | duration: job.end}}</td>
                    </tr>
                </tbody>
            </table>

        </form>

    </div>

</div>
