body {
	color: #777;
	font-size: 14px;
}

.gocilla-view {
	display: table;
	width: 100%;
}

.gocilla-container {
	display: table-row;
}

.gocilla-content {
	display: table-cell;
	padding: 0px 15px;
	vertical-align: top;
}

.gocilla-navigator {
	display: table-cell;
	padding: 0px 15px;
	width: 250px;
	vertical-align: top;
}

.gocilla-navigator > h3 {
	font-size: 14px;
	padding-top: 0px;
	margin-top: 20px;
	border-bottom: solid 1px #EFF0EC;
}

.gocilla-navigator > h3:first-child {
	margin-top: 0px;
}

.gocilla-navigator > h3 > span {
	margin-left: 10px;
}

.gocilla-navigator > a {
	display: table-row;
	width: 100%;
	text-decoration: none;
	color: inherit;
}

.gocilla-navigator > a > div {
	display: table-cell;
	vertical-align: middle;
	padding: 4px 5px;
}

.gocilla-navigator > a > div:first-child {
	border-left-style: solid;
	border-left-width: 4px;
	border-left-color: transparent;
}

.gocilla-navigator > a:hover > div:first-child {
	border-left-color: #777;
}

.gocilla-navigator > a > div:first-child > img {
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.gocilla-content > h2 {
	margin-top: 0px;
	width: 100%;
	border-bottom: solid 1px #EFF0EC;
}

.gocilla-content > h2 > .breadcrumb {
	font-size: small;
	float: right;
}

.gocilla-content > .gocilla-content-row {
	display: table-row;
	width: 100%;
}

.gocilla-content > .gocilla-content-row > div {
	display: table-cell;
	padding-top: 10px;
	padding-left: 10px;
	vertical-align: middle;
}

.gocilla-content > .gocilla-content-row > .switch-repo {
}

.repo-settings {
	font-size: 30px;
}

pre.logs {
	white-space: pre-wrap;
}
