<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><span class="brand-text">Gocilla</span></a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><a href="organizations">Repositories</a></li>
            <li><a href="builds">Builds</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right" ng-if="profile.name">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-user"></span> {{profile.name}} <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#"><i class="glyphicon glyphicon-user"></i> Profile</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-envelope"></i> Inbox</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-cog"></i> Settings</a></li>
                    <li class="divider"></li>
                    <li><a href="#" ng-click="logout()"><i class="glyphicon glyphicon-off"></i> Log Out</a></li>
                </ul>
            </li>
        </ul>
        <a href="#" class="btn btn-default navbar-btn navbar-right" ng-click="login()" ng-if="!profile.name">Login with Github  <i class="fa fa-github-alt"></i></a>
    </div>
</nav>
