<h3>General</h3>
<a href="/organizations/{{orgId}}/repositories/{{repoId}}">
    <div>
        <div><i class="glyphicon glyphicon-blackboard"></i> Dashboard</div>
    </div>
</a>
<a href="/organizations/{{orgId}}/repositories/{{repoId}}/settings">
    <div>
        <div><i class="glyphicon glyphicon-wrench"></i> Settings</div>
    </div>
</a>

<h3>Latest builds <span class="octicon octicon-search"></span></h3>
<a href="/organizations/{{orgId}}/repositories/{{repoId}}/builds/{{build.id}}"
        ng-repeat="build in builds | limitTo: 3">
    <div>
        <div><status status="build.status"></status>{{build.pipeline}}</div>
        <div><i class="glyphicon glyphicon-hourglass"></i> Duration: {{build.start | duration: build.end}}</div>
        <div><i class="glyphicon glyphicon-time"></i> Finished: {{build.end | moment: 'fromNow'}}</div>
    </div>
</a>

<h3>Manual triggers <span class="octicon octicon-plus"></span></h3>
