<div class="gocilla-view">
    <div class="gocilla-container">
        <div class="gocilla-navigator">
            <h3>My organizations</h3>
            <a href="/organizations/{{organization.name}}" ng-repeat="organization in organizations">
                <div>
                    <img src="{{organization.avatarURL}}">
                </div>
                <div>
                    <div><strong>{{organization.name}}</strong></div>
                    <div>Repositories: <strong>{{organization.repositories.length}}</strong></div>
                </div>
            </a>
        </div>

        <div class="gocilla-content" ng-repeat="organization in organizations | filter: {name: orgId} | limitTo: 1">
            <h2>Organization: <strong>{{organization.name}}</strong></h2>
            <div class="repository" ng-repeat="repo in organization.repositories">
                <div class="switch-repo">
                    <switch name="enabled" ng-model="repo.hooked" class="green" ng-change="switchRepo(repo)"></switch>
                </div>
                <a href="/organizations/{{organization.name}}/repositories/{{repo.name}}">
                    <i class="glyphicon glyphicon-cog repo-settings"></i>
                </a>
                <div>
                    <div><strong>{{organization.name}}/{{repo.name}}</strong></div>
                    <div>{{repo.description}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
